[Unit]
Description=backup postgres

[Service]
Type=oneshot


# /docker/volumes/minedash/db/backup
WorkingDirectory=/docker/compose/minedash
ExecStart=/usr/bin/find '/docker/volumes/minedash/postgresql/backup/' -mtime +{{ minedash_backup_delete_after }} -type f -delete
ExecStart=/bin/bash -c '/opt/bin/docker-compose exec -T postgres pg_dumpall -c -U postgres > /docker/volumes/minedash/postgresql/backup/db_dump_$$(date +%%d-%%m-%%Y).sql'
