[player is default_player_rank]
ftbutilities.chunkloader.max_chunks: {{ minecraft_player_loaded_chunks }}
ftbutilities.claims.max_chunks: {{ minecraft_player_claimed_chunks }}

[vip extends player]
ftbutilities.chat.name_format: "<&3{name}&r>"
ftbutilities.chunkloader.max_chunks: {{ minecraft_vip_loaded_chunks }}
ftbutilities.claims.max_chunks: {{ minecraft_vip_claimed_chunks }}

[admin extends vip is default_op_rank]
ftbutilities.chat.name_format: "<&2{name}&r>"
ftbutilities.chunkloader.max_chunks: {{ minecraft_admin_loaded_chunks }}
ftbutilities.claims.max_chunks: {{ minecraft_admin_claimed_chunks }}

[overlord extends admin]
ftbutilities.chat.name_format: "<&5{name}&r>"
ftbutilities.chunkloader.max_chunks: {{ minecraft_overlord_loaded_chunks }}
ftbutilities.claims.max_chunks: {{ minecraft_overlord_claimed_chunks }}
