export JAVACMD="java"
export MAX_RAM="{{ minecraft_max_ram }}"       # -Xmx
export JAVA_PARAMETERS="-Xms{{ minecraft_max_ram }} -XX:+CMSIncrementalPacing -XX:+CMSClassUnloadingEnabled -XX:+UseG1GC -XX:+UnlockExperimentalVMOptions -XX:MaxGCPauseMillis=100 -XX:+DisableExplicitGC -XX:TargetSurvivorRatio=90 -XX:G1NewSizePercent=50 -XX:G1MaxNewSizePercent=80 -XX:G1MixedGCLiveThresholdPercent=35 -XX:+AlwaysPreTouch -XX:+ParallelRefProcEnabled -Dfml.queryResult=confirm"
