#Minecraft server properties
max-tick-time=60000
generator-settings=
allow-nether=true
force-gamemode=false
gamemode=0
enable-query=false
player-idle-timeout=0
difficulty={{ minecraft_difficulty }}
spawn-monsters=true
op-permission-level=4
announce-player-achievements=true
pvp={{ minecraft_pvp }}
snooper-enabled=false
level-type=DEFAULT
hardcore={{ minecraft_hardcore }}
enable-command-block=false
max-players={{ minecraft_max_players }}
network-compression-threshold=256
resource-pack-sha1=
max-world-size=29999984
server-port={{ minecraft_server_port }}
server-ip=
spawn-npcs=true
allow-flight=true
level-name=world
view-distance={{ minecraft_view_distance }}
resource-pack=
spawn-animals=true
white-list={{ minecraft_whitelist_enabled }}
generate-structures=true
online-mode=true
max-build-height=256
level-seed=
use-native-transport=true
motd={{ minecraft_server_motd }}
spawn-protection={{ minecraft_spawn_protection }}
enable-rcon={{ minecraft_enable_rcon }}
rcon.port={{ minecraft_rcon_port }}
rcon.password={{ minecraft_rcon_password }}
